{% extends 'index.html' %}
{% load static %}

{% block content %}
          {% block subcontent %}
              {% for post in posts %}
                <div class="col-lg-3 col-sm-6">
                  <div class="popular-item">
                    <div class="top-content">
                      <div class="icon">
                        <img src="{{ post.user.photo.url }}" alt="">
                      </div>
                      <div class="right">
                        <h4>{{ post.title }}</h4>
                        <span><em>{{ post.user.get_short_name }}</em>{{ post.description }}</span>
                      </div>
                    </div>
                    <div class="thumb">
                      <img src="{{ post.image.url }}" alt="">
                      <span class="category">Replies:{{ post.messages_count }}</span>
                      <span class="likes"><i class="fa fa-heart"></i> 256</span>
                    </div>
                    <div class="border-button">
                      <a href="{% url 'music:post' uuid=post.uuid %}">View</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="section-heading text-center">
                    <div class="tm-prev-next-wrapper">
                        {% if page_obj.has_previous %}
                            <div class="main-button" style="text-align: center">
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">Prev</a>
                            </div>
                        {% else %}
                            <div class="main-button ml-3" style="text-align: center">
                            <a class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                            </div>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <div class="main-button" style="text-align: center">
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                            </div>
                        {% else %}
                            <div class="main-button ml-3" style="text-align: center">
                            <a class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled">Next</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tm-paging-wrapper">
                        <span class="d-inline-block mr-3"></span>
                        <nav class="tm-paging-nav d-inline-block">
                            <ul>
                                {% for page_number in page_obj.paginator.page_range %}
                                    {% if page_number == page_obj.number %}
                                        <li class="tm-paging-item active">
                                        <div class="owl-wrapper">
                                            <a href="?page={{ page_number }}"
                                               class="mb-2 tm-btn tm-paging-link">{{ page_number }}</a>
                                        </div>
                                        </li>
                                    {% else %}
                                        <li class="tm-paging-item">
                                        <div class="owl-wrapper">
                                            <a href="?page={{ page_number }}"
                                               class="mb-2 tm-btn tm-paging-link">{{ page_number }}</a>
                                        </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
        {% endif %}
    {% endblock subcontent %}
{% endblock %}